.now-playing {
    width: 30%;
    /* height: 800px; */
    padding: auto;
    margin:auto;
    margin-top: 60px;
    /* background: rgba(0, 0, 0, 0.8); */
    /* background-color:plum */
    background-color:rgb(38, 58, 93);
    /* background-color: #686D76; */
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 20px;
    text-align: center;
  }

  
  .back-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
  }
  
  .now-playing-cover {
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
  }
  
  .song-info {
    width: 100%;
    text-align: left;
    margin-top: 20px;
  }
  
  .song-info h3,
  .song-info p {
    margin-left: 15%;
  }
  
  .progress-bar {
    display: block;
  }
  
  .controls {
    display: flex;
    /* justify-content: space-around; */
    margin-top: 40px;
    padding-bottom: 40px;
  }
  
  .controls button {
    background: none;
    border: none;
  }

.like{
    border: none;
    background: none;
}